mmdet==2.24.0

mmsegmentation==0.30.0
torchvision
ipython==8.12


setuptools==56.1.0
pyyaml
ninja

tornado
scipy
psutil
ml-dtypes
cloudpickle
attrs
psutil
decorator
absl-py

numpy==1.24.4
torch==2.1.0
einops==0.8.1

sympy
synr
protobuf